.img__slider{
    height: 600px;
    width: 100%;
}

.img__little{
    height: 250px;
    width: 250px;
}

.img__normal{
    height: 250px;
    width: 450px;

}

.img__medium--default{
    height: 300px;
    width: 540px;
}
.img__medium--short{
    height: 300px;
    width: 270px;
}
.img__group--large{
    height: 345px;
    width: 455px;
}

img__group--little{
    height: 185px;
    width: 230px;
}

.img__medium__foot{
    height: 255px;
    width: 340px;
}
