.nav{
    padding-left: 110px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown__content{
    display: none;
    position: absolute;
}
.dropdown__content a {
    display: block;
    padding: 8px;
    background-color: $page-background-color;
    margin-left: $nav-a-margin-right;
    margin-right: $nav-a-margin-right;
}
.dropdown:hover .dropdown__content{
    background-color: $a-hover-color !important;
    color: white !important;
    display: block;
}
.dropdown .dropdown__content a:hover{
    background-color: $a-hover-color;
    color: white;
}
