.nav{
    padding-left: 110px;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-right: $nav-padding-right;
    padding-left: $nav-padding-right;
}
.dropdown-content{
    display: none;
    position: absolute;
}
.dropdown-content a {
    display: block;
    padding: 8px;
    background-color: $page-background-color;
}
.dropdown:hover .dropdown-content{
    background-color: $a-hover-color !important;
    color: white !important;
    display: block;
}
.dropdown .dropdown-content a:hover{
    background-color: $a-hover-color;
    color: white;
}
