
.row {
    padding-left: $row-padding-left;
    padding-top: $row-padding-top;
    padding-bottom: $row-padding-bottom;
}

.row__title {
    text-align: center;
}

.row__imagenes {
    display: inline-block;
}

row__slider{
    padding-top: $row-padding-top;
    padding-bottom: $row-padding-bottom;
}
