h2 {
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
}

a {
    color: $a-color;
    text-decoration: none;
}

a:hover {
    color: $a-hover-color;
}

.texto__configuracion--centrado-vertical{
    vertical-align: super;
}
.texto__configuracion--centrado-horizontal{
    text-align: center;
}

.texto__descubrir{
    //display: block;
    text-align: left;
    vertical-align: super;
}