h2 {
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
}

a {
    color: $a-color;
    text-decoration: none;
}

a:hover {
    color: $a-hover-color;
}

.texto__configuracion{
    display: block;
    margin: 0px;
    text-align: center;
}