$font-type: Arial, Helvetica, sans-serif;

$row-padding: 110px;
$row-group-padding-right: 110px;

$footer-background-color: #494e51;
$footer-color: white;

$h2-font-size: 26px;
$h2-font-weight: 200;

$a-color: black;
$a-hover-color: #A43131;

$page-background-color: white;